<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @article.content %>
</p>

<p>
  <strong>Article category:</strong>
  <%= @article.article_category.try(:name) %>
</p>
<% if can? :update, Article %>
  <%= link_to 'Edit', edit_article_path(@article) %> |
  <%= link_to 'Back', articles_path %>
<% else %>
  <%= link_to 'Back', articles_path %>
<% end %>